<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sawon">
	<!-- ResultMap 예제 1 -->
	<resultMap type="deptvo" id="deptResultMap">
		<constructor>
			<idArg column="deptno" javaType="java.lang.Integer" />
			<arg column="dname" javaType="java.lang.String" />
		</constructor>
		<!-- alias 처리 부분. deptvo(dto)의 생성자로 매핑이 되기 때문에 dto내에 생성자를 표기해야 함. -->
		<result property="loc" column="location" />
	</resultMap>
	<select id="showDept" resultMap="deptResultMap">
		select deptno, dname, loc
		location from dept order by 1 desc
	</select>
	<!-- ResultMap 예제 2: 많은 데이터를 로드할 때 효과가 좋음. -->
	<resultMap type="savo" id="sawonphoneResult2">
		<id property="sabun" column="sabun" />
		<result property="saname" column="saname" />
		<result property="sajob" column="sajob" />
		<association property="sphone" column="sabun"
			javaType="sphonevo"><!-- javaType은 실제 SawonVO 안의 변수 주소를 가리킨다. -->
			<id property="pnum" column="pnum" />
			<result property="pmodel" column="pmodel" />
			<result property="phnum" column="phnum" />
			<result property="pdate" column="pdate" />
		</association>
	</resultMap>
	<select id="sawonList2" resultMap="sawonphoneResult2">
		select s.sabun sabun, s.saname
		saname, s.sajob sajob, p.pnum pnum, p.pmodel pmodel, p.phnum phnum,
		p.pdate pdate from sawon s, sawon_phone p where s.sabun=p.pnum(+)
	</select>
	<!-- resultMap예제 3/ dept와 sawon은 1:N의 관계 public class DeptVO { // ResultMap 
		- 부서 1 : N 관계 private List<SawonVO> sawon; -->
	<resultMap type="deptvo" id="deptsawonResult">
		<id property="deptno" column="deptno" javaType="int" />
		<result property="dname" column="dname" />
		<collection property="sawon" javaType="java.util.List"
			resultMap="sawonResult" ofType="savo" />
	</resultMap>
	<!-- collection될 ResultMap -->
	<resultMap type="savo" id="sawonResult">
		<id property="sabun" column="sabun" javaType="int" />
		<result property="saname" column="saname" />
		<result property="sajob" column="sajob" />
		<result property="sapay" column="sapay" />
	</resultMap>
	<select id="deptList" resultMap="deptsawonResult"
		parameterType="int">
		select s.sabun sabun, s.saname saname, s.sajob sajob
		,
		s.sapay sapay,d.deptno deptno, d.dname dname
		from sawon s,dept d
		where
		d.deptno=s.deptno and d.deptno=#{deptno}
	</select>

</mapper>