<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="vo.GogekVO" alias="gvo" />
		<typeAlias type="vo.SearchVO" alias="svo" />
		<typeAlias type="vo.DeptVO" alias="deptvo"/>
		<typeAlias type="vo.SawonVO" alias="savo"/>
		<typeAlias type="vo.SawonPhoneVO" alias="sphonevo"/>
	</typeAliases>
	<environments default="">
		<environment id="">
			<transactionManager type="JDBC"/>
			<dataSource type="JNDI">
				<property name="data_source"
					value="java:comp/env/jdbc/javabook" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/gogekmapper.xml" />
		<mapper resource="mapper/sawonmapper.xml" />
	</mappers>
</configuration>